.kneth_footer {
  @include flex-center-center;
  flex-direction: column;
  background: $dark;
  padding: 50px;
  color: $light;

  @media (max-width: 520px) {
    padding: 50px 30px;
  }
}

.kneth_footer__copy {
  @include flex-center-center;
  margin-top: 30px;


  @media (max-width: 520px) {
    flex-direction: column;
  }

  @media (max-width: 460px) {
    font-size: 14px;
  }
}

.kneth_copy {
  margin-right: 10px;

  @media (max-width: 520px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}