.kneth_footer {
  background: $dark;
  padding: 50px;
  color: $light;
  
  @include flex-center-center;
  flex-direction: column;
}

.kneth_footer__img {
  margin-bottom: 30px;
}

.kneth_footer__copy {
  @include flex-center-center;
}

.kneth_copy {
  margin-right: 10px;
}

