/* Header */
.kneth_header {
  background: $light;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px;
  transition: $effects;
  z-index: 1000;

  @media (max-width: 990px) {
    padding: 30px 50px;
  }

  @media (max-width: 460px) {
    padding: 30px 30px;
  }

  .kneth_container {
    @include flex-center-between;
  }

  &.shadow {
    box-shadow: $shadow;
  }
}

.kneth_header__branding {
  position: relative;
  z-index: 1000;

  svg {
    width: 100%;
    height: 100%;
  }

  svg path {
    transition: $effects;
  }

  svg path.light {
    fill: $light;

    @media (min-width: 1090px) {
      fill: $primary;
    }
  }

  @media (max-width: 990px) {
    width: 40px;
    height: 40px;
  }
}

.kneth_nav {
  display: flex;

  @media (max-width: 1090px) {
    display: none;
  }
}

.kneth_nav__links {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.kneth_nav__link {
  font-size: 14px;
  font-weight: $bold;
  letter-spacing: 1px;
  color: $body;
  text-transform: uppercase;

  ~ .kneth_nav__link {
    margin-left: 80px;
  }

  &.active,
  &:hover {
    color: $primary;
  }
}

/* Burger nav */
.kneth_burger-btn {
  display: none;
  position: relative;
  z-index: 1000;
  height: 40px;
  width: fit-content;
  cursor: pointer;
  transition: $effects;
  overflow: hidden;

  @media (max-width: 1090px) {
    @include flex-center-center;
    justify-content: flex-end !important;
  }

  &:active {
    background: none;
  }
}

.kneth_burger-btn.open .kneth_burger-btn__dash {
  transform: translateX(-50px);
}

.kneth_burger-btn__dash {
  height: 4px;
  width: 35px;
  background: $primary;
  transition: $effects;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 35px;
    background: $primary;
    transition: $effects;
  }

  &::before {
    transform: translateY(-10px);
  }

  &::after {
    transform: translateY(10px);
  }
}

.kneth_burger-btn.open {
  background: transparent;
}

.kneth_burger-btn.open .kneth_burger-btn__dash::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: $light;
}

.kneth_burger-btn.open .kneth_burger-btn__dash::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: $light;
}

// Burger nav modal
.kneth_nav_modal {
  display: none;

  &.show {
    @include flex-center-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $gradient;

    @media (min-width: 1090px) {
      display: none;
    }
  }
}

.kneth_nav_modal__links {
  width: 100%;
  text-align: center;

  @media (max-width: 460px) {
    text-align: right;
  }
}

.kneth_nav_modal__link {
  letter-spacing: 3px;
  font-size: 38px;
  font-weight: $bold;
  color: $light;
  padding: 20px;

  @media (max-width: 460px) {
    padding: 10px 30px 10px 0;
  }

  &:hover,
  &:focus {
    color: $body;
  }
}