.kneth_service {
  padding: 200px 50px;
}

.kneth_service__lists {
  @include flex-center-between;
  margin-bottom: 100px;
}

.kneth_service_list {
  width: 100%;

  ~ .kneth_service_list {
    margin-left: 30px;
  }

}

.kneth_service_container {
  @include flex-center-center;
  padding: 100px 0;
  margin-bottom: 30px;
}

.kneth_wireframe {
  background: $placeholder;
}

.kneth_mockup {
  background: $subtle;
}

.kneth_coding {
  background: $head;
}

.kneth_service_list__title {
  font-size: 18px;
  font-weight: $semibold;
  text-align: center;
  text-transform: uppercase;
}