.kneth_service {
  padding: 200px 50px;

  @media (max-width: 990px) {
    padding: 150px 50px;
  }

  @media (max-width: 768px) {
    padding: 100px 50px 150px;
  }

  @media (max-width: 710px) {
    padding: 100px 50px
  }

  @media (max-width: 460px) {
    padding: 100px 30px;
  }
}

.kneth_service__lists {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;

  @media (max-width: 768px) {
    margin-bottom: 80px;
  }

  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.kneth_service_list {
  width: 100%;

  ~ .kneth_service_list {
    margin-left: 30px;

    @media (max-width: 700px) {
      margin-left: 0;
      margin-top: 50px;
    }
  }
}

.kneth_service_container {
  @include flex-center-center;
  padding: 100px 0;
  margin-bottom: 30px;
  background: $subtle;

  @media (max-width: 900px) {
    padding: 80px 0;
  }

  @media (max-width: 755px) {
    padding: 50px 0;
    margin-bottom: 20px;
  }

  @media (max-width: 700px) {
    padding: 100px 0;
  }
}

.kneth_service_list__title {
  font-size: 18px;
  font-weight: $semibold;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 755px) {
    font-size: 16px;
  }
}