*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  display: block;
}

img {
  display: block;
}

input,
textarea,
button {
  border: none;
}

#kneth_wrapper {
  padding-top: 170px;
}

.kneth_container {
  width: 100%;
  margin: 0 auto;
}

.kneth_container--1240 {
  max-width: 1240px;
}

.kneth_container--900 {
  max-width: 900px;
}

.kneth_head {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .kneth_head {
    margin-bottom: 50px;
  }
}

.kneth_button {
  padding: 20px 60px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 375px) {
  .kneth_button {
    font-size: 12px;
  }
}

.kneth_button--gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#00C1FF));
  background: linear-gradient(180deg, #2196F3 0%, #00C1FF 100%);
  color: #FFF;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media (max-width: 460px) {
  .kneth_button--gradient {
    width: 100%;
  }
}

.kneth_button--light {
  background: #FFF;
  color: #2196F3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.kneth_title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 460px) {
  .kneth_title {
    font-size: 28px;
  }
}

.kneth_para {
  font-size: 18px;
  color: #4F4F4F;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 460px) {
  .kneth_para {
    font-size: 16px;
  }
}

/* Header */
.kneth_header {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px;
}
@media (max-width: 460px) {
  .kneth_header {
    padding: 30px;
  }
}
.kneth_header .kneth_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kneth_header__branding {
  position: relative;
  z-index: 1000;
}
.kneth_header__branding svg path.light {
  fill: #FFF;
}
@media (min-width: 990px) {
  .kneth_header__branding svg path.light {
    fill: #2196F3;
  }
}

.kneth_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 990px) {
  .kneth_nav {
    display: none;
  }
}

.kneth_nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 80px;
}

.kneth_nav__link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #4F4F4F;
  text-transform: uppercase;
}
.kneth_nav__link ~ .kneth_nav__link {
  margin-left: 80px;
}

/* Burger nav */
.kneth_burger-btn {
  display: none;
  position: relative;
  z-index: 1000;
  height: 60px;
  width: 60px;
  cursor: pointer;
  -webkit-transition: ease-in-out 500ms all;
  transition: ease-in-out 500ms all;
  overflow: hidden;
}
@media (max-width: 990px) {
  .kneth_burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.kneth_burger-btn:active {
  background: none;
}

.kneth_burger-btn.open .kneth_burger-btn__dash {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.kneth_burger-btn__dash {
  height: 4px;
  width: 35px;
  background: #2196F3;
  -webkit-transition: ease-in-out 500ms all;
  transition: ease-in-out 500ms all;
}
.kneth_burger-btn__dash::before, .kneth_burger-btn__dash::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 35px;
  background: #2196F3;
  -webkit-transition: ease-in-out 500ms all;
  transition: ease-in-out 500ms all;
}
.kneth_burger-btn__dash::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.kneth_burger-btn__dash::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.kneth_burger-btn.open {
  background: transparent;
}

.kneth_burger-btn.open .kneth_burger-btn__dash::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
  background: #FFF;
}

.kneth_burger-btn.open .kneth_burger-btn__dash::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
  background: #FFF;
}

.kneth_nav_modal {
  display: none;
}
.kneth_nav_modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#00C1FF));
  background: linear-gradient(180deg, #2196F3 0%, #00C1FF 100%);
}
@media (min-width: 990px) {
  .kneth_nav_modal.show {
    display: none;
  }
}

.kneth_nav_modal__links {
  width: 100%;
  text-align: center;
}
@media (max-width: 460px) {
  .kneth_nav_modal__links {
    text-align: right;
  }
}

.kneth_nav_modal__link {
  letter-spacing: 3px;
  font-size: 38px;
  font-weight: 700;
  color: #FFF;
  padding: 20px;
}
@media (max-width: 460px) {
  .kneth_nav_modal__link {
    padding: 20px 30px 20px 0;
  }
}

.kneth_introduction {
  padding: 200px 50px 300px;
}
@media (max-width: 990px) {
  .kneth_introduction {
    padding: 150px 50px;
  }
}
@media (max-width: 768px) {
  .kneth_introduction {
    padding: 100px 50px 150px;
  }
}
@media (max-width: 710px) {
  .kneth_introduction {
    padding: 50px 50px 100px;
  }
}
@media (max-width: 460px) {
  .kneth_introduction {
    padding: 30px 30px 100px;
  }
}
.kneth_introduction .kneth_container--900 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 710px) {
  .kneth_introduction .kneth_container--900 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.kneth_introduction .kneth_para {
  text-align: left;
}
@media (max-width: 710px) {
  .kneth_introduction .kneth_para {
    text-align: center;
    margin-bottom: 50px;
  }
}
.kneth_introduction .kneth_button {
  display: none;
}

.kneth_introduction__headshot {
  margin-right: 50px;
  height: 215px;
  width: 215px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 990px) {
  .kneth_introduction__headshot {
    margin-right: 30px;
  }
}
@media (max-width: 710px) {
  .kneth_introduction__headshot {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.kneth_introduction__name-role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 10px;
}
@media (max-width: 710px) {
  .kneth_introduction__name-role {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}

.kneth_introduction__name {
  font-size: 42px;
  font-weight: 700;
  color: #333333;
  margin-right: 20px;
}
@media (max-width: 710px) {
  .kneth_introduction__name {
    margin-right: 0;
  }
}

.kneth_introduction__role {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #4F4F4F;
}

/* Socials */
.kneth_introduction__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media (max-width: 710px) {
  .kneth_introduction__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.kneth_introduction__social ~ .kneth_introduction__social {
  margin-left: 30px;
}
@media (max-width: 460px) {
  .kneth_introduction__social ~ .kneth_introduction__social {
    margin-left: 20px;
  }
}

@media (max-width: 460px) {
  .kneth_introduction__social__img {
    width: 43px;
    height: 43px;
  }
}

.kneth_work {
  background: #F9F9F9;
  padding: 200px 50px;
}
@media (max-width: 990px) {
  .kneth_work {
    padding: 150px 50px;
  }
}
@media (max-width: 768px) {
  .kneth_work {
    padding: 100px 50px;
  }
}
@media (max-width: 460px) {
  .kneth_work {
    padding: 100px 30px;
  }
}

.kneth_work__companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .kneth_work__companies {
    margin-bottom: 80px;
  }
}

.kneth_work__company {
  padding: 50px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 375px) {
  .kneth_work__company {
    width: 100%;
  }
}

.kneth_service {
  display: none;
  padding: 200px 50px;
}

.kneth_service__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.kneth_service_list {
  width: 100%;
}
.kneth_service_list ~ .kneth_service_list {
  margin-left: 30px;
}

.kneth_service_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  margin-bottom: 30px;
}

.kneth_wireframe {
  background: #C8C8C8;
}

.kneth_mockup {
  background: #F9F9F9;
}

.kneth_coding {
  background: #333333;
}

.kneth_service_list__title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.kneth_tools {
  display: none;
  padding: 200px 50px;
  background: #F9F9F9;
}

.kneth_tools__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kneth_tools__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.kneth_tools__list ~ .kneth_tools__list {
  margin-top: 50px;
}

.kneth_tools__img {
  margin-right: 20px;
}

.kneth_tools__name {
  font-size: 14px;
  font-weight: 600;
}

.kneth_contact {
  display: none;
  padding: 200px 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#00C1FF));
  background: linear-gradient(180deg, #2196F3 0%, #00C1FF 100%);
}
.kneth_contact .kneth_title,
.kneth_contact .kneth_para {
  color: #FFF;
}

.kneth_form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.kneth_form__input {
  padding: 20px;
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  outline: none;
}
.kneth_form__input ~ .kneth_form__input {
  margin-left: 30px;
}

.kneth_form__textarea {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  margin-bottom: 50px;
  outline: none;
}

.kneth_footer {
  display: none;
  background: #000;
  padding: 50px;
  color: #FFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kneth_footer__img {
  margin-bottom: 30px;
}

.kneth_footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kneth_copy {
  margin-right: 10px;
}