.kneth_button {
  padding: 20px 60px;
  font-size: 14px;
  font-weight: $bold;
  text-transform: uppercase;
  display: block;
  text-align: center;
  cursor: pointer;
  box-shadow: $shadow;
  width: fit-content;
  margin: 0 auto;

  @include beat;

  @media (max-width: 375px) {
    font-size: 12px;
  }

  @media (max-width: 460px) {
    width: 100%;
  }
}

.kneth_button--gradient {
  background: $gradient;
  color: $light;
}

.kneth_button--light {
  background: $light;
  color: $primary;
}