// Flex
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-baseline-start {
  display: flex;
  align-items: baseline;
  justify-content: start;
}