.kneth_title {
  font-size: 32px;
  font-weight: $bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $head;
  margin-bottom: 30px;
  text-align: center;
}

.kneth_para {
  font-size: 18px;
  color: $body;
  font-weight: $regular;
  line-height: 1.8;
  margin-bottom: 30px;
  text-align: center;
}